@use "sass:math";
@mixin mq($breakpoint) {
    @media screen and (min-width: #{$breakpoint}px) {
        @content;
    }
}

@function lh($figma-lh, $figma-fs) {
  @return math.div($figma-lh, $figma-fs);
}

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}