@use "../global" as *;
.l-section{
    padding: rem(40) 0;
    @include mq($lg) {
        padding: rem(70) 0;
    }
    &--lg{
        padding: rem(60) 0;
        @include mq($lg) {
            padding: rem(70) 0;
        }
    }
}