@use "../../global" as *;

.p-about {
    &__heading {
        margin-bottom: rem(50);
        color: #391E88;
        font-size: rem(24);
        line-height: 1.0;
        font-weight: bold;
        text-align: center;

        @include mq($lg) {
            margin-bottom: rem(30);
            font-size: rem(32);
        }
    }

    &__list {
        padding-bottom: rem(40);

        @include mq($lg) {
            padding-bottom: rem(60);
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(5);
        padding-bottom: rem(20);
        border-bottom: 1px solid #DDDDDD;

        @include mq($md) {
            grid-template-columns: 20% 1fr;
            padding: rem(30) 0;
            padding-left: rem(10);
        }
    }

    &__term {
        font-weight: bold;

        @include mq($md) {
            font-weight: 400;
        }
    }

    &__term,
    &__desc {
        font-size: rem(15);
        line-height: lh(27, 15);
    }

    &__map {
        width: 100%;
        aspect-ratio: 345 / 240;
        overflow: hidden;
        margin-bottom: rem(5);
        @include mq($lg) {
            aspect-ratio: 1100 / 400;
        }
    }

    &__map-link {
        font-size: rem(14);
        line-height: lh(25.2, 14);
        color: #240B6B;
    }
}