@use "../../global" as *;

.p-company {
    position: relative;
    background-image: url(../../../img/photo/company-bg-sp.png);

    @include mq($lg) {
        padding-top: rem(100);
        padding-bottom: rem(130);
        background-image: none;
    }


    &::before {
        background-image: none;

        @include mq($lg) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            margin: 0 auto;
            background-image: url(../../../img/photo/company-bg-cp.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: min(100% - rem(30), rem(1300));
            content: "";
        }
    }



    &__inner {
        position: relative;
        z-index: 1;
        text-align: center;

    }

    &__goal {
        display: inline;
        background: linear-gradient(transparent 70%, #FFF500 50%);
        -webkit-box-decoration-break: clone;
        font-weight: 700;
        font-size: rem(32);
        line-height: lh(48, 32);

        @include mq($lg) {
            font-size: rem(40);
            line-height: 1.0;
        }
    }

    &__desc {
        margin-top: rem(40);
        font-weight: 400;
        font-size: rem(14);
        line-height: lh(25.2, 14);

        @include mq($lg) {
            font-size: rem(15);
            line-height: lh(27, 15);
        }
    }
}