@use "../../global" as *;

.p-post {
    &__inner {
        width: min(100% - rem(30), rem(720));
    }

    &__title {
        font-size: rem(22);
        line-height: lh(33, 22);
        margin-bottom: rem(10);

        @include mq($lg) {
            font-size: rem(32);
            line-height: lh(48, 32);
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        gap: rem(10);
        margin-bottom: rem(20);

        @include mq($lg) {
            gap: rem(20);
            flex-shrink: 0;
            margin-bottom: rem(30);
        }
    }

    &__time {
        font-size: rem(10);
        line-height: lh(18, 10);
    }

    &__category {
        @include flex-center;
        border-radius: 20px;
        background-color: #e8e8e8;
        width: rem(80);
        height: rem(24);
        color: #333333;
        font-weight: 700;
        font-size: rem(11);
        line-height: lh(19.8, 11);

        @include mq($lg) {
            height: rem(26);
            font-size: rem(12);
            line-height: lh(21.6, 12);
        }
    }

    &__thumb {
        aspect-ratio: 345 / 184;
        width: 100%;
        overflow: hidden;
        margin-bottom: rem(30);
    }

    &__body {

        p {
            font-size: rem(15);
            line-height: lh(27, 15);
            margin-bottom: rem(40);

            @include mq($lg) {
                font-size: rem(16);
                line-height: lh(28.8, 16);
            }

            &:first-of-type {
                margin-bottom: rem(60);
            }

            &:has(+ p) {
                margin-bottom: rem(30);
            }
        }

        h2 {
            font-size: rem(18);
            line-height: lh(28.8, 18);
            letter-spacing: 0.018em;
            position: relative;
            padding-left: rem(20);
            margin-bottom: rem(20);

            @include mq($lg) {
                font-stretch: rem(24);
                line-height: lh(38.4, 24);
            }

            &::before {
                content: "";
                position: absolute;
                inset-block: 0;
                left: 0;
                width: rem(5);
                border-radius: rem(5);
                background-color: #391E88;
            }
        }

        h3 {
            font-size: rem(17);
            line-height: lh(30.6, 17);
            letter-spacing: 0.018em;
            margin-bottom: rem(20);

            @include mq($lg) {
                font-stretch: rem(15);
                line-height: lh(27, 15);
            }
        }
    }


    &__back-link {
        display: flex;
        justify-content: center;
        color: #391E88;
        font-size: rem(14);
        line-height: lh(25.2, 14);

        @include mq($lg) {
            font-size: rem(15);
            line-height: lh(27, 14);
        }
    }
}