@use "../../global" as *;

.p-fv-home {
    position: relative;
    background-image: url(../img/photo/hero-home-sp.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: rem(30);
    min-height: 100dvh;
    color: #fff;
    @include flex-center;

    @include mq($lg) {
        background-image: url(../img/photo/hero-home-cp.webp);
        padding: rem(0);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: start;
        @include mq($md) {
            align-items: center;
        }
    }

    &__title {
        font-weight: bold;
        font-size: rem(40);
        line-height: lh(44, 40);
        text-transform: uppercase;

        @include mq($lg) {
            font-size: rem(72);
            line-height: 1.0;
        }
    }

    &__desc {
        margin-top: rem(20);
        margin-bottom: rem(30);
        font-size: rem(16);
        line-height: lh(28.8, 16);
        letter-spacing: 0.1em;

        @include mq($lg) {
            margin-bottom: rem(50);
            font-size: rem(24);
            line-height: lh(43.2, 24);
        }
    }


    .c-btn {
        border: 1px solid white;
        background-image: none;
        margin: 0;
    }


    &__scroll {
        position: absolute;
        right: 15px;
        bottom: 60px;
        font-weight: bold;
        font-size: rem(12);
        line-height: 1.0;
        letter-spacing: 0.2em;
        writing-mode: vertical-lr;
        text-transform: uppercase;

        &::after {
            position: absolute;
            top: calc(100% + 15px);
            right: 5px;
            background-color: #fff;
            width: 1px;
            height: 50px;
            content: "";

        }
    }
}

.p-fv {
    background-image: url(../img/photo/hero-sp.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: rem(180);

    @include mq($lg) {
        background-image: url(../img/photo/hero-sp.webp);
        height: rem(240);
    }

    &__title {
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: rem(3);
        padding-top: rem(82.5);

        @include mq($lg) {
            gap: rem(5);
        }
    }

    &__main-title {
        font-size: rem(30);
        line-height: lh(36, 30);
        text-transform: uppercase;

        @include mq($lg) {
            font-size: rem(36);
            line-height: lh(43.2, 36);
        }
    }

    &__sub-title {
        font-size: rem(13);
        line-height: lh(15.6, 13);
    }
}