@use "../../global" as *;
.c-title-primary{
    display: flex;
    flex-direction: column;
    gap: rem(3);
    margin-bottom: rem(30);
    color: #391E88;
    font-weight: 700;
    font-size: rem(30);
    line-height: lh(36,30);
    text-align: center;
    text-transform: uppercase;
    @include mq($lg) {
        font-size: rem(36);
        line-height: lh(43.2,36);
        letter-spacing: 0.02em;
        gap: rem(5);
    }
    &__sub{
        font-weight: 700;
        font-size: rem(13);
        line-height: lh(15.6,13);
    }
}
